extends ../../../_layout

block css
  link(rel="stylesheet", href=baseUrl + "/styles/intent.css")

block js
  script.
    updateId="#{updateId}";
  script(src="/assets/js/jszip.min.js")
  script(src=baseUrl + "/scripts/intent.js")

block title
  | Manage Intents

block filter
  div.form-group.row
    label.col-2.col-form-labal(for="sintent") Intent:
    div.col-4
      input#sintent.form-control(type="text") 
  div.form-group.row
    label.col-2.col-form-labal(for="sbestquestion") Best Question:
    div.col-4
      input#sbestquestion.form-control(type="text") 
  div.form-group.row
    label.col-2.col-form-labal(for="skeyword") Example:
    div.col-4
      input#skeyword.form-control(type="text") 

block table
  div
    div.dt-buttons
      button.dt-button(type="button", name="import") Import
      button.dt-button(type="button", name="exportselected") Export Selected
      button.dt-button(type="button", name="exportall") Export All
  table.table.table-hover
    thead
      tr
        th
          input(type="checkbox", name="select_all", value="1", id="select-all")
        th
        th Intent
        th EN Description
        th TC Description
        th Number of EN Example
        th Number of TC Example


block other
  div#detailmodal.modal.fade.bd-example-modal-lg(tabindex="-1", role="intent-EN", aria-labelledby="detailmodal", aria-hidden="true",data-backdrop="static")
    div.modal-dialog.modal-lg
      div.modal-content
        div.modal-header
          h4#detailmodal.modal-title Intent Edit
          button.close(type="button",, data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;

        div.modal-body
          form
            div.form
              div.form-group.row
                div.col-12.modal-title(style="font-size:18px;")
                  label#fintent
            hr
            div.form EN
              div.form-group.row
                label.col-3.col-form-labal(for="fen") Description:
                div.col-9
                  input#fen.form-control(type="text")
              button.btn.btn-secondary(type="button", name="addExample",data="#fensamples")
                i.fa.fa-plus(aria-hidden="true")
                | &nbsp;&nbsp;
                | Add a new user example for en
              div.clear_both
              div#fensamples.input-entity-value
            hr
            div.form TC
              div.form-group.row
                label.col-3.col-form-labal(for="ftc") Description:
                div.col-9
                  input#ftc.form-control(type="text")
              button.btn.btn-secondary(type="button", name="addExample",data="#ftcsamples")
                i.fa.fa-plus(aria-hidden="true")
                | &nbsp;&nbsp;
                | Add a new user example for tc
              div.clear_both
              div#ftcsamples.input-entity-value
            
                //- div.input-group
                //-   span
                //-     input(type="checkbox", aria-label="Checkbox for following text input")
                //-   input(type="text", class="editItemRow_input1", aria-label="Text input with checkbox")
                //-   span
                //-     i.fa.fa-times.remove_self(aria-hidden="true")
              
        div.modal-footer
          button#save.btn.btn-primary(type="button", name="save") Save
          button#back.btn.btn-primary(type="button", name="back", data-dismiss="modal") Back