doctype html
html(xmlns="http://www.w3.org/1999/xhtml", xmlns:fb="http://ogp.me/ns/fb#", xml:lang="en")
  head
    meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
    meta(name="viewport", content="initial-scale=0.8, maximum-scale=1.0, user-scalable=yes, width=device-width")
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta( name="msapplication-config" content="none")
    meta(http-equiv="imagetoolbar", content="no")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")

    meta(property="og:title", content="Mobinology Asia Limited")
    meta(property="og:type", content="website")
    meta(property="og:description", content="")
    
    meta(property="og:image", content="images/mobiLogo.png")
    meta(property="og:url", content="http://www.mobinology.com/")

    link(rel="stylesheet", href="/assets/css/bootstrap.min.css")
    link(rel="stylesheet", href="/assets/css/font-awesome.min.css")
    link(rel="stylesheet", href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    link(rel="stylesheet", href="/stylesheets/style.css")

    block styles

    script(src="/assets/js/jquery.min.js")
    script(src="/assets/js/jquery-ui.min.js")
    script(src="/assets/js/tether.min.js")
    script(src="/assets/js/popper.min.js")
    script(src="/assets/js/bootstrap.min.js")
    script(src="/javascripts/function.js")
    script(src="/javascripts/script.js")
    script(src="/assets/js/loadingoverlay.min.js")
    script(src="/assets/js/loadingoverlay_progress.min.js")

    block scripts

    script.
      csrfToken="#{csrfToken}";
    title=title +' - '+ subtitle

  body
    -if(username)
      section.main_profile_field
        div.name_txt #{username}
        img.profile_icon.no_space(src="/images/profile_picture_default.jpg",border="0",width="25px")
        div.clear_both
    
    section.main_menu  
      div.menu_item_field
        - if (menu)
          - each m in menu
            -if(m.group!==undefined)
              div.menu_item(onclick="$.each($(this).parent().children('div."+m.group+"'),function(index,value){$(value).toggle(500)});$.each($(this).children(),function(index,value){$(value).toggle(500)});")
                i.fa.fa-arrow-alt-circle-right(class=m.selected?"":"groupclose")
                i.fa.fa-bars(class=m.selected?"groupclose":"")
                =" " +m.group
              -each groupitem in m.items
                div.menu_item.groupitem(class=(groupitem.selected?"selected " : "")+(m.selected?"":"groupclose ")+m.group, onclick="window.location.href='" + groupitem.action + "'")
                  -if(groupitem.selected)
                    i.fa.fa-chevron-right
                  div=" "+groupitem.display
            - else
              div.menu_item(class=m.selected ? "selected" : "", onclick="window.location.href='" + m.action + "'")
                -if(m.selected)
                  i.fa.fa-chevron-right
                =" "+m.display
      
    section.main_content
      block content

    div.clear_both
      div.main_content_footer_field 2017 &copy; All rights reserved.
