.tooltip-inner {
    max-height: 200px;
    overflow: auto;
    max-width: 300px;    
}

.ui-widget, .ui-widget-content {
    border: 1px solid #c5c5c5;
    max-height: 300px;
    overflow: auto;
    z-index: 1051;
}

.editItemRow_input1{
    width: 97%;
}