.subrow{
    margin-left: 16px;
}
.exportMenu{
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2147483647;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: 100px;  
}
.exportMenu .progress{
    width:300px
}


.cancelDownload {
    margin-top: 10px;
    /* text-decoration: none; */
    /* background-color: #4CAF50; */
    border: none;
    /* color: white; */
    padding: 10px 16px;
    text-align: center;
    /* text-decoration: none; */
    /* display: inline-block; */
    /* font-size: 16px; */
}