form>div {
    width: 100%
}

a[data-toggle="collapse"] {
    color: initial;
    text-decoration: none;
}

a[data-toggle="collapse"]:hover {
    text-decoration: none;
}

#filter {
    width: 98%;
}

#filter .filter-content {
    margin: 12px;
}

button {
    margin-right: 6px;
}
.checkbox {
    padding-left: 18px !important;
}
.search_options {
    width: 98%;
}

.paging {
    margin-top: 6px;
}

.paging>div {
    margin-left: 6px;
}
.info{
    margin-top: -6px;
}
.moreinfo{
    margin-top: -15px;
}
.grade{
    margin-top: 7.5px; 
    margin-left: -15px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}