@charset "utf-8";

/* CSS Document */

html {
    height: 100%;
}

body {
    /* font-family: Helvetica, Arial, sans-serif;
	font-size: 12px; */
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    /* needed for container min-height */
    min-height: 100%;
    position: relative;
    /* color: #000; */
}

body.home {
    background: linear-gradient(180deg, #005179, #ffffff);
    background-repeat: no-repeat;
}

.center_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*for image space clear use*/

.no_space {
    vertical-align: TOP;
    display: block;
}

#back-to-top {
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    color: white;
    font-size: 12px;
    cursor: pointer;
    position: fixed;
    z-index: 102;
    bottom: 5%;
    right: 4%;
    padding: 8px;
    display: none;
    border-radius: 5px;
}

.content_wrapper {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.main_header {
    background: rgba(0, 85, 128, 0.9);
    padding-top: 10px;
    min-height: 30px;
    width: 100%;
}

.main_header.home {
    background: none;
    width: 100%;
}

.index_logo_field {
    width: 270px;
    margin: 0 auto;
    padding: 24px;
}

.index_logo_field img {
    width: 100%;
}

.main_logo_container {
    float: left;
    margin: 5px 0;
    width: 150px;
}

.float_left50 {
    float: left;
    width: 50%;
}

.main_profile_field {
    background: white;
    cursor: pointer;
    border-bottom: 1px solid #666;
    font-size: 11px;
    color: #666;
    position: fixed;
    top: 0;
    right: 21px;
    z-index: 101;
    padding: 4px;
}

.main_profile_field .name_txt {
    margin-left: 10px;
    padding-top: 5px;
    float: left;
}

.main_profile_field .profile_icon {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
}

.show_info_bar {
    background: #fffeee;
    width: 100%;
    padding: 20px 10px;
    position: relative;
}

.main_menu {
    float: left;
    min-height: 100%;
    width: 15%;
    background: #2d2d2d;
    color: white;
    position: relative;
    height: 100%;
    overflow-y: auto;
}

.main_content {
    float: right;
    min-height: 100%;
    height: 100%;
    margin-left: 2%;
    width: 83%;
    color: #666;
    /* position: relative; */
    padding-bottom: 30px;
    background: white;
    overflow-y: auto;
}

.content_wrapper {
    padding-top: 20px;
}

.main_content_footer_field {
    font-size: 10px;
    color: #fff;
    text-align: right;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px 20px 5px 10px;
    opacity: 0.7;
}

.form_option_field {
    margin-top: 25px;
    width: 100%;
    position: relative;
    margin-bottom: 25px;
}

.form_option_field .search_options {
    float: left;
}

.form_option_field .other_options {
    padding-top: 8px;
    float: left;
    margin-left: 30px;
}

.login_input_form {
    width: 300px;
    margin: 60px auto 100px auto;
}

.clear_both {
    clear: both;
}

.page_title {
    font-size: 30px;
    font-weight: bold;
    color: #1974a2;
}

.page_title.white {
    color: #fff;
}

.page_content {
    text-align: justify;
    width: 88%;
    margin: 0 auto;
    color: #313131;
}

.sub-title {
    font-size: 20px;
    color: #666;
    font-weight: bold;
}

.sub-title.contactus {
    color: #021054;
}

.sub-title-icon {
    float: left;
    margin-right: 10px;
    padding-top: 5px;
}

.menu_icon {
    margin: 17px;
    width: 25px;
}

.menu_icon img {
    width: 100%;
}

.menu_item_field {
    margin-top: 80px;
    width: 100%;
    /* overflow-y: auto; */
}

.group {
    padding: 20px;
    cursor: pointer;
}


.group:hover {
    background: #efefef;
    color: #000;
}

.menu_item {
    padding: 20px;
    cursor: pointer;
}
.groupclose {
    display: none;
}
.menu_item:hover {
    background: #efefef;
    color: #000;
}
.groupitem {    
    font-size: 0.9rem;
    margin-left: 10%;
    width: 90%;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
.menu_item.selected {
    background: #0e8bb3;
    color: white;
    font-weight: bold;
}

.menu_logo {
    /* position: absolute; */
    /* top: 32px;
    right: -20px; */
    padding: 6px;
    background-color: white;
}

.main_footer {
    font-size: 11px;
    color: #666;
    text-align: center;
}

.dialog_main_search {
    margin-top: 80px;
    background: #00564b;
    padding: 40px 0 60px 100px;
    text-align: left;
    color: white;
}


/* edit item */

.editItemAddButton {
    background: #efefef;
    padding: 9px 15px;
    border-radius: 5px;
    width: 280px;
    float: left;
    cursor: pointer;
}

.editItemSaveButton {}

.editItemRow.inputField {
    padding: 20px 15px;
    border-bottom: 1px dotted #002386;
}

.editItemRow_input1 {
    border: 0;
    border-bottom: 1px solid #004eff;
    padding: 5px;
    width: 90%;
}

.editItemRow_input2 {
    border: 0;
    border-bottom: 1px solid #004eff;
    padding: 5px;
}

.display_main_value {
    font-size: 15px;
    font-weight: bold;
}

.display_sub_value {
    font-size: 13px;
}

.synonyms_items_field {
    padding: 10px 10px 10px 20px;
}

.synonyms_items {
    float: left;
    margin-right: 5px;
    margin: 5px;
    border: 1px solid #efefef;
    border-radius: 10px;
    padding: 5px;
}

.mindmap_main_item {
    font-size: 16px;
    /* font-weight: bold; */
    cursor: pointer;
    text-indent: 10px;
    padding: 10px;
}

.mindmap_sub_item_field {
    display: none;
    padding: 10px;
}

.mindmap_sub_item {
    padding: 20px;
    border-top: 1px dotted #efefef;
    background: white;
}

.mindmap_sub_item_edit {
    float: right;
}

.mindmap_top_row {
    background: #ffe8ad;
}

.popup_back_layer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 120;
    display: none;
}

.popup_content {
    position: fixed;
    width: 80%;
    padding: 15px;
    height: 80%;
    top: 10%;
    left: 10%;
    background: white;
    z-index: 121;
    border-radius: 10px;
    display: none;
}

.popup_content .inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.popup_close_btn {
    position: absolute;
    top: -10px;
    right: 0;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    padding-left: 10px;
}

.tab_btn {
    background: #efefef;
    float: left;
    padding: 5px 20px;
    cursor: pointer;
    margin-right: 2px;
}

.tab_btn.selected {
    background: #0e8bb3;
    color: white;
}

.answer_tab {
    display: none;
    border: 1px solid #666;
    padding: 20px;
    margin-bottom: 20px;
}

.answer_tab.open {
    display: block;
}

a.list_row_item {
    color: #666;
    text-decoration: none;
}

.item_row_intent {
    color: #026eca;
    font-size: 11px;
    padding-left: 10px;
}

.mindmap_row {
    background: #f1f1f1;
    border-bottom: 1px solid #31c2f1;
}

.mindmap_answer {
    padding: 20px;
    margin: 10px;
    border: 1px solid #efefef;
}

.show_info_bar.edit {
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
}

@media only screen and (max-width: 1100px) {}

@media only screen and (max-width: 800px) {}