extends ../views/layout

block styles
  link(rel="stylesheet", href="/assets/css/jquery.dataTables.min.css")
  link(rel="stylesheet", href="/assets/css/buttons.dataTables.min.css")
  link(rel="stylesheet", href="/assets/css/jquery.datetimepicker.min.css")
  link(rel="stylesheet", href="/stylesheets/filter.css")

  block css

block scripts
  script(src="/assets/js/jszip.min.js")
  script(src="/assets/js/jquery.dataTables.min.js")
  script(src="/assets/js/dataTables.buttons.min.js")
  script(src="/assets/js/buttons.html5.min.js")
  script(src="/assets/js/jquery.datetimepicker.full.min.js")
  script(src="/assets/js/moment.js")

  block js

block content
  div.content_wrapper(style="max-width:100%")
    div.page_title
      block title
  
  div.content_wrapper(style="max-width:100%")
    div#filter.card
      div#headingOne.card-header(role="tab")
        h5.mb-0
          a(data-toggle="collapse", href="#collapseOne", aria-expanded="true", aria-controls="collapseOne")
            i.fa.fa-filter(aria-hidden="true")
            | &nbsp;Filter

      div#collapseOne.collapse(role="tabpanel", aria-labelledby="headingOne")
        div.card-block
          div.filter-content
            block filter
            button#search.btn.btn-primary(type="button") Filter
            button#clear.btn.btn-secondary(type="button") Clear

    div.form_option_field
      div.search_options
        form.form-inline
          block table

  block other