extends ../../_layout

block styles
  link(rel="stylesheet", href=baseUrl+"/styles/settings.css")

block scripts
  script(src=baseUrl+"/scripts/settings.js")
  script.
    updateId="#{updateId}";
    var delimiter = '_-_'

block content
  div.content_wrapper(style="max-width:100%")
    div.page_title
      | System Setting
  hr
  div.form(style="width:98%")
    - if (settings && settings.length > 0)
      - var delimiter = '_-_'
      - each setting in settings
        div(id=setting._id, style="padding:8px;")
          h3 #{setting.name || setting._id}
          -if(setting.description !=undefined)
            div #{setting.description}
          hr
          - if (typeof setting._rev !== 'undefined' && setting._rev !== null)
            div.form-group.row(style='display:none;')
              label.col-2(for=setting._id+delimiter+"_rev") _rev
              div.col-10
                input.form-control(id=setting._id+delimiter+"_rev", type="text", value=setting._rev)
          - each field in setting.fields
            div.form-group.row
              label.col-2.setting(for=setting._id+delimiter+field.name) #{field.description} 
              label.col-1.setting #{field.subDesc}
              div.col-9
                - if(field.options)
                  select(id=setting._id+delimiter+field.name, data-source=field.source)
                    - each option in field.options
                      -if(field.value==option.value)
                        option(value=option.value, selected) #{option.name}
                      -else
                        option(value=option.value) #{option.name}
                - else if (field.type === 'string' || field.type === 'number')
                  input.form-control(id=setting._id+delimiter+field.name, type="text", value=field.value, data-source=field.source)
                - else if (field.type === 'array')
                  input.form-control(id=setting._id+delimiter+field.name, type="text", value=(typeof field.value !== 'undefined' && field.value !== null ? field.value.join(';') : ""))
                - else if (field.type === 'object')
                  - each key in Object.keys(field.value)
                    div.form-group.row
                      label.col-2(for=setting._id+delimiter+field.name+delimiter+key) #{key}
                      div.col-10
                        - each sk in Object.keys(field.value[key])
                          div.form-group.row
                            label.col-2(for=setting._id+delimiter+field.name+delimiter+key+delimiter+sk) #{sk}
                            div.col-10
                              input.form-control(id=setting._id+delimiter+field.name+delimiter+key+delimiter+sk, type="text", value=field.value[key][sk])

    div
      button#save.btn.btn-primary(type="button", name="update") Update

