extends ../../../_layout

block css
  link(rel="stylesheet", href=baseUrl + "/styles/faq.css")

block js
  script.
    updateId="#{updateId}";
  script(src= baseUrl + "/scripts/faq.js")

block title
  | Manage FAQ

block filter 
  div.form-group.row
    label.col-2.col-form-labal(for="sans_id") Answer Id:
    div.col-4
      input#sans_id.form-control(type="text")
  div.form-group.row
    label.col-2.col-form-labal(for="sintent") Intent:
    div.col-4
      input#sintent.form-control(type="text") 
  div.form-group.row
    label.col-2.col-form-labal(for="sans") Answer:
    div.col-4
      input#sans.form-control(type="text") 

block table
  div.dt-buttons
    button.dt-button(type="button", name="import") Import
    button.dt-button(type="button", name="exportselected") Export Selected
    button.dt-button(type="button", name="exportall") Export All 
  div
  table#cvtable.display(cellspacing="0", width="100%")
    thead
      tr
        th
          input(type="checkbox", name="select_all", value="1", id="select-all")
        th
        th Id
        th Related Intent
        th Remarks
        th English
        th 繁中

block other
  div#detailmodal.modal.fade.bd-example-modal-lg(tabindex="-1", role="answer", aria-labelledby="detailmodal", aria-hidden="true",data-backdrop="static")
    div.modal-dialog.modal-lg
      div.modal-content
        div.modal-header
          h4#detailmodal.modal-title Answer Edit
          button#back.close(type="button", aria-label="Close", name="back")
            span(aria-hidden="true") &times;

        div.modal-body
          form
            div.form
              div.form-group.row
                div.col-12.modal-title(style="font-size:18px;") 
                  label#fid
              div.form-group.row
                div.col-12.modal-title(style="font-size:18px;") 
                  label#fintent
              div.form-group.row
                label.col-2.col-form-labal(for="fremarks") Remarks:
                div.col-10
                  input#fremarks.form-control(type="text")
              hr
              button.btn.btn-secondary(type="button", name="addExample" data="#fen")
                i.fa.fa-plus(aria-hidden="true")
                | &nbsp;&nbsp;
                | Add a new reply in EN
              div.clear_both
              div#fen.input-entity-value
              hr
              button.btn.btn-secondary(type="button", name="addExample" data="#ftc")
                i.fa.fa-plus(aria-hidden="true")
                | &nbsp;&nbsp;
                | Add a new reply in TC
              div.clear_both
              div#ftc.input-entity-value
              hr
              button.btn.btn-secondary(type="button", name="addButton" data="#fchoices")
                i.fa.fa-plus(aria-hidden="true")
                | &nbsp;&nbsp;
                | Add a new user choice
              div.clear_both
              div#fchoices.input-entity-value
              
        div.modal-footer
          button#save.btn.btn-primary(type="button", name="save") Save
          button#back.btn.btn-primary(type="button", name="back") Back