extends ../../../_layout

block css
  link(rel="stylesheet", href=baseUrl+"/styles/conversation.css")

append js
  script(src="/assets/js/shim.min.js")
  script(src="/assets/js/xlsx.full.min.js")
  script(src="/assets/js/eventsource.js")
  script(src=baseUrl + "/scripts/conversation.js")

block title
  | Conversation Log  

block filter
  div.row
    div.col
      div.form-group.row
        label.col-4.col-form-label(for="sfromdate") From Date:
        div.col-8
          input#sfromdate.form-control(type="text")
    div.col
      div.form-group.row
        label.col-4.col-form-label(for="stodate") To Date:
        div.col-8
          input#stodate.form-control(type="text")
  div.form-group.row
    label.col-2(for="slang") language:
    div.col-4
      select#slang.form-control
        option(value="", selected="selected") All
        option(value="tc") Chinese
        option(value="en") English
  div.form-group.row
    label.col-2(for="sintent") Intent:
    div.col-4
      input#sintent.form-control(type="text")
  div.row
    div.col
      div.form-group.row
        label.col-4.col-form-label(for="sfromconflv") From Confident Level:
        div.col-8
          input#sfromconflv.form-control(type="text")
    div.col
      div.form-group.row
        label.col-4.col-form-label(for="stoconflv") To Confident Level:
        div.col-8
          input#stoconflv.form-control(type="text")
  div.form-group.row
    label.col-2(for="sinput") Input:
    div.col-4
      input#sinput.form-control(type="text")
  div.form-group.row
    label.col-2(for="ssessionid") Session ID:
    div.col-4
      input#ssessionid.form-control(type="text")    


  

block table
  table#cvtable.display(cellspacing="0", width="100%")
    thead
      tr
        th
          input(type="checkbox", name="select_all", value="1", id="select-all")
        th
        th DateTime
        th Input
        th 1st Intent
        th 1st Confident Level
        th Language
        th Session ID
        

block other
  div#detailmodal.modal.fade.bd-example-modal-lg(tabindex="-1", role="dialog", aria-labelledby="detailmodal", aria-hidden="true")
    div.modal-dialog.modal-lg
      div.modal-content
        div.modal-header
          h5#detailmodal.modal-title Conversation Detail
          button.close(type="button",, data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        
        div.modal-body
          div.form
            div.form-group.row
              label.col-3.col-form-label(for="fdateTime") DateTime:
              label#fdateTime
            div.form-group.row
              label.col-3(for="fsessionID") Session Id:
              label#fsessionID
            div.form-group.row
              label.col-3(for="flang") Language:
              label#flang
            div.form-group.row
              label.col-3(for="finput") Input:
              label#finput
            div.form-group.row
              label.col-3(for="foutput") Answer:
              label.col-9#foutput
            fieldset.form-group.row
              legend.col-form-legend.col-4 Conversation Detail:
              div.col-12
                div.form-group.subrow
                  label.col-3(for="fIntent1") 1st intent:
                  label#fIntent1
                div.form-group.subrow
                  label.col-3(for="fconfLV1") 1st confidence:
                  label#fconfLV1
                div.form-group.subrow
                  label.col-3(for="fIntent2") 2nd intent:
                  label#fIntent2
                div.form-group.subrow
                  label.col-3(for="fconfLV2") 2nd confidence:
                  label#fconfLV2
                div.form-group.subrow
                  label.col-3(for="fIntent3") 3nd intent:
                  label#fIntent3
                div.form-group.subrow
                  label.col-3(for="fconfLV3") 3nd confidence:
                  label#fconfLV3
                div.form-group.subrow
                  label.col-3(for="fIntent4") 4nd intent:
                  label#fIntent4
                div.form-group.subrow
                  label.col-3(for="fconfLV4") 4nd confidence:
                  label#fconfLV4
                div.form-group.subrow
                  label.col-3(for="fentity") Entities:
                  label.col-9#fentity
            
        div.modal-footer
          button#back.btn.btn-primary(type="button", data-dismiss="modal") Back

  div#exportMenu.exportMenu
    div#progressStatus.progressStatus
    div.progress
      div#progressBar.progress-bar(role="progressbar",aria-valuenow="0",aria-valuemin="0" ,aria-valuemax="100" ,style="width:0%")
    button#cancelDownload.cancelDownload Cancel
    